.card{
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black;
}
.img-style{
    width: 100%;
}

.card-body{
    padding: 5px;
    background-color: blueviolet;
}


.card-title{
    font-size: 2rem;
    text-align: center;
}
.card-desc{
    text-align: justify;
    line-height: 1.5;
    color: white;
}
.card:hover{
    box-shadow: 5px 10px 8px white;
}
.card-containers{
    box-sizing: border-box;
    display: flex;
    background-color:rgb(130, 62, 6);
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    flex-wrap: wrap;

}